.header {
    background-color:#241e1e;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 20 20px;
    margin-top: 0px;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchInput {
    height: 12;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    height: 25px !important;
    background-color: #f1f1f1;
}

.header__Nav {
    display: flex;
    justify-content: space-evenly; 
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header_bascketCount {
    margin-left: 10px;
    margin-right: 10px;
}